<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiEzeCuEle</title>
</head>
<body>
    <%if (info.error){%>
        <%=info.error%>
        <%} else{%>
            <h1>Bienvenido, <%=info.connection.config.user%></h1>
            Seleccionar Base de Datos
    <form action="">
        <select name="Hola" id="">
            <% for (var i = 0; i < info.dbs[0].length; i++) { %>
                <option value=""><%=info.dbs[0][i].Database%></option>
              <% } %>
        </select>
    </form>
    <%}%>
    <%if (true) { console.log(info.dbs)}%>
</body>
</html>