<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiEzeCuEle</title>
</head>
<body>
    Bienvenido a MiEzeCuEle, <h1><%=info.user%</h1>
    <% if (true){%>
    <%=info%>
    <%}%>
</body>
</html>