@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
:root {
  background-color: #FEFAE0
}


.query-form{
  display: flex;
  justify-content: center;
  gap: 2px;
}

.query-button{
  background-color: #FAEDCE;
  border-color: #CCD5AE;
  border-radius: 8px;
  border-style: solid;
  width: 6rem;
  height:2rem;
  font-size: medium;
  font-weight: 700;
  cursor: pointer;
  font-family: "Manrope";
}
  form{
  display:flex;
  align-items: center;
}
.Output{
  display:flex;
  width: 100%;
}
.Output>textarea{
  width: 60%;
  margin-inline: auto;
  margin-top: 1rem;
}